<div class="container">
  <div class="row">

    <div id="sidebar">

     <div id="logo"><%= link_to "PocketGems", root_path%></div>

     <ul>
       <li>
         <a href="/" class="btn search">Search</a>
       </li>
       <li>
         <a href="/favorites" class="btn favorites">Favorites</a>
       </li>
     </ul>

   </div>

  </div>

</div>
