<div id="search-page">
  <h1>Search Gems</h1>

  <!-- Search Form -->

  <%= form_tag "/search" do %>
  <div class="input-group ">
    <input type="text" class="form-control" placeholder="Search" name="search-term" id="search-term" required>
  </div>
  <% end %>

  <!-- Not FOund -->
  <% if @error %>
  <div class="error">
    <%= @error %>
  </div>
  <% end %>

  <!-- Search Results -->

  <div class="results">
    <% if @gem %>
    <ul>
      <%= render 'partials/searchresult', g: @gem %>
    </ul>
    <% end %>
  </div>
</div>
