#favorite-page {
  h1 {
    position: relative;
    text-align: center;
    font-weight: bold;
  }
  .favorite-gems {
    position: relative;

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 55px;
      li {
        width: 32%;
        display: inline-block;

        margin-bottom: 5px;

        list-style: none;

        span {
          cursor: pointer;

          color: royalblue;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

  }
}
