#favorite-page {

  h1 {
    position: absolute;
    top: 7em;
    left: 125px;
    font-weight: bold;
  }
  .favorite-gems {
    position: relative;
    top: 25em;
    left: 4em;

    ul {
      padding-left: 55px;
      li {
        display: inline-block;

        margin-bottom: 5px;

        list-style: none;

        span {
          cursor: pointer;

          color: royalblue;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

  }
}
