#wrapper #page-wrapper {
  margin-left: 33%;
}

#search-page {
  h1 {
    position: absolute;
    top: 7em;
    left: 125px;
    font-weight: bold;
  }

  form .input-group {
    position: absolute;
    top: 25em;
    left: 75px;
    
    .form-control {
      background: url("search.png") no-repeat 95% 50%;
      padding-left: 33px;
      height: 70px;
      color: darkgrey;
      border-radius: 75px;
      /* stop the glowing blue shadow */
      &:focus {
        border-color: #cccccc;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  // form input-group
}
// Wrapper
