#wrapper #sidebar {
	grid-area: sidebar;
	overflow-y: hidden;
	background-image: url("map.png");
	background-size: cover;
}

#sidebar {

	display: block;

	#logo {
		top: 3em;
		right: 3em;
		width: auto;

		a {
			font-family: 'Open Sans', serif;
			font-size: 24px;
			color: #fff;
		}

	}

	.btn {
		padding: 12px;
		width: 140px;
		height: 53px;
		color: #fff;
	}

	.btn.active {
		background: rgba(255, 255, 255, 0.2);
	}

	ul {
		top: 400px;
		right: 0;

		li {
			list-style: none;
			a {
				display: block;
			}
		}
	}
}
